<h2 mat-dialog-title>{{name}}</h2>
<mat-dialog-content class="mat-typography">
  <h3>{{email}}</h3>
  <img mat-card-image src="{{ photoUrl }}">
  <p><strong>*PLEASE REMEMBER TO LOGOUT IF NOT WILL BE ALWAYS SHOW POP UP!</strong></p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>OUT</button>
</mat-dialog-actions>
