.title-header{
  position: relative;
  top:5%;
  font-size:35px;
  color:white;
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.box-formlogin{
  width: auto;
  height: auto;
}


.clear-space {
  padding-bottom:10px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

/* social Media */
.alignleft_google {
  width: 49%;
  float: left;
  background-color:#3c7ef2;
  color:white;
  font-weight: bold;
}
.alignright_line {
  width: 49%;
  float: right;
  background-color:#00c900;
  color:white;
  font-weight: bold;
}

.alignleft_facebook {
  width: 49%;
  float: left;
  background-color:#4058ab;
  color:white;
  font-weight: bold;
}
.alignright_kokotalk {
  width: 49%;
  float: right;
  background-color:#feed00;
  color:black;
  font-weight: bold;
}
/* end */

/* box option menu */
.div1 {
  width: 300px;
  height: auto;
  border: 2px solid #40c4a7;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

#Menu
{
    padding:0;
    margin:0;
    list-style-type:none;
    font-size:18px;
    color:#bbebe0;
    width:100%;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

#Menu li
{
  padding:7px 10px 7px 10px;
}

#Menu li:hover
{
    background-color:#bbebe0;
}
#Menu li:hover a
{
    color:White;
}


#Menu a:link
{
    color:#bbebe0;
    text-decoration:none;
}

#Menu a:hover
{
    color:White;
}
/* end */

/* languages */
select {
  width: 120px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 10px;
  position: absolute;
  right: 10px;
}
/* end */

.example-card {
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1281px) {
  .mat-form-field {
    width: 100%;
    min-width: 400px;
  }

  .bg {
    /* The image used */
    background-image: url("http://i.stack.imgur.com/vhoa0.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .mat-form-field {
    width: 100%;
    min-width: 400px;
  }

  .bg {
    /* The image used */
    background-image: url("http://i.stack.imgur.com/vhoa0.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  .bg {
    /* The image used */
    background-image: url("http://i.stack.imgur.com/vhoa0.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  .bg {
    /* The image used */
    background-image: url("http://i.stack.imgur.com/vhoa0.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  .bg {
    /* The image used */
    background-image: url("http://i.stack.imgur.com/vhoa0.jpg");
    /* Full height */
    height: 130%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  .bg {
    /* The image used */
    background-image: url("http://i.stack.imgur.com/vhoa0.jpg");
    /* Full height */
    height: 130%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
