<div class="bg">
  <div class="clear-space"></div>
  <select #langSelect (change)="translate.use(langSelect.value)" [@zoomInDown]="zoomInDown">
      <option selected>{{'loginForm.0.txtlanguages' | translate }}</option>
      <option value="en">English</option>
      <option value="kor">Korean</option>
      <option value="id">Indonesian</option>
  </select>

  <div fxLayout="row" fxLayoutAlign="center">
    <div class="box-formlogin">
      <p class="title-header" [@zoomIn]="zoomIn">Truworld.</p>
    <mat-card [@zoomIn]="zoomIn" [formGroup]="LoginForm">
        <mat-card-content>
            <div class="example-container">
              <mat-form-field>
                <input type="text" matInput placeholder="{{'loginForm.0.txtusername' | translate }}" formControlName="username">
              </mat-form-field>

              <mat-form-field>
                <input type="password" matInput placeholder="{{'loginForm.0.txtpassword' | translate }}" formControlName="password">
              </mat-form-field>

              <mat-checkbox>{{'loginForm.0.txtrememberme' | translate }}</mat-checkbox>

              <div class="clear-space"></div>

              <div>
                <button (click)="signInWithGoogle()" class="alignleft_google" mat-raised-button><i class="fa fa-google" aria-hidden="true"></i> {{'loginForm.0.txtgoogle' | translate }}</button>

                <div *ngIf="btnLine; else elseBtnline">
                  <button (click)="signInWithLine()" class="alignright_line" mat-raised-button color="danger"><i class="fa fa-maxcdn" aria-hidden="true"></i> {{'loginForm.0.txtline' | translate }}</button>
                </div>
                <ng-template #elseBtnline>
                  <button class="alignright_line" mat-raised-button color="danger"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i> {{'loginForm.0.txtloading' | translate }}</button>
                </ng-template>
              </div>

              <div class="clear-space"></div>

              <div>
                  <button (click)="signInWithFB()" class="alignleft_facebook" mat-raised-button color="primary"><i class="fa fa-facebook" aria-hidden="true"></i> {{'loginForm.0.txtfacebook' | translate }}</button>
                  <button (click)="signInWithkakaotalk()" class="alignright_kokotalk" mat-raised-button color="danger" [disabled]="!LoginForm.valid"><i class="fa fa-comment-o" aria-hidden="true"></i> {{'loginForm.0.txtkakaotalk' | translate }}</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <div class="clear-space"></div>

    <div class="div1" [@zoomIn]="zoomIn">
        <ul id="Menu">
            <li><a>{{'loginForm.0.txtlogin' | translate }}</a></li>
            <li *ngIf="forgotPassword"><a>{{'loginForm.0.txtforgotpassword' | translate }}</a></li>
            <li><a>{{'loginForm.0.txtsignup' | translate }}</a></li>
        </ul>
    </div>
   </div>
  </div>
</div>

<!-- spinner for future use it -->
<!-- <button (click)="showGlobalOverlay()">Show progress global</button>
<button (click)="showSelf()">Show progress self</button>-->
